@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Opdracht Herexamen programeren 2</p>
   
    <p> Er zijn 3menu's, om de broodjes, klanten en bestellingen te beheren. </p>
    <p> Er kan van alles iets worden aangemaakt, verwijderd en geëdit en bekeken.  </p>
    <p> het is wel een beetje anders gemaakt zoals we in de les hebben gezien maar het is wel stukken makkelijker om te maken/gebruiken</p>
</div>


